[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jazzmin = "*"
django-rest-framework = "*"
pillow = "*"
python-dotenv = "*"
django-embed-video = "*"
django-debug-toolbar = "*"
django-redisboard = "*"
channels-redis = "*"
django-braces = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
