{% load static %}
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="w3-padding" >
    <h1 class="w3-text-white">Change your password</h1>
    <form class="w3-white w3-round-large " method="post">
    <p>Use the form below to change your password.</p>
    {{ form.as_p }}
    <p><input type="submit" class="w3-btn sign-button"  value="Change"></p>
    {% csrf_token %}
    </form>
</div>
<style>
    body{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100vh;
        font-family: sans-serif;
        background: url("{% static 'assets/bg.jpg' %}");
        background-size: cover;
        background-position: center;
    }
</style>
